<!-- Start: Header -->
<header id="header">
    <div class="header-inner">
        <div class="container-xxl">
            <div class="row">
                <div id="logo" class="col-sm-6">
                    <a href="/">
                        <img src="../../../assets/images/logo.png" alt="SA Infrastructure Consultation Pvt. Ltd" width="103" height="61" />
                        <span class="logoname">SA Infrastructure Consultation Pvt. Ltd</span>
                    </a>
                </div>
                <div class="col-sm-6 header-right">
                    <div class="headnav">
                        <ul>
                            <li><a routerLink="employeeLogin">Employee Login</a></li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="menu-toggle"><i class="fa fa-bars"></i><i class="fa fa-xmark"></i></div>
                    <div class="menuoverlay"></div>
                    <div class="header-menu">
                        <nav id="mainNav">
                            <ul id="nav" class="nav">
                                <li><a routerLink="home">Home</a></li>
                                <li><a routerLink="about">About</a></li>
                                <li><a routerLink="projects">Projects</a></li>
                                <li><a routerLink="career">Career</a></li>
                                <li><a routerLink="blog">Blog</a></li>
                                <li><a routerLink="news">News</a></li>
                                <li><a routerLink="contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End: Header -->