/* You can add global styles to this file, and also import other style files */
@import url(assets/css/function.css);

@import url(../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css);

/* Start: Font Face */
@font-face {
      font-family: 'Helvetica';
      src: url('../src/assets/fonts/Helvetica.woff2') format('woff2'),
          url('../src/assets/fonts/Helvetica.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Helvetica';
      src: url('../src/assets/fonts/Helvetica-Bold.woff2') format('woff2'),
          url('../src/assets/fonts/Helvetica-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  

/* End: Font Face */

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder{color:#666666; opacity:1;}
:-moz-placeholder{color:#666666; opacity:1;}
::-moz-placeholder{color:#666666; opacity:1;}
:-ms-input-placeholder{color:#666666; opacity:1;}
.form-control::-webkit-input-placeholder{color:#666666; opacity:1;}
.form-control:-moz-placeholder{color:#666666; opacity:1;}
.form-control::-moz-placeholder{color:#666666; opacity:1;}
.form-control:-ms-input-placeholder{color:#666666; opacity:1;}

/*======================================================================/
/*================== Main CSS Theme Start =============================*/
/*=====================================================================*/

/* Start: Common Css */
body{font-family: 'Helvetica'; font-size:18px; font-weight: normal; line-height: 1.5; background-color: #000; color: #ddd; padding: 0; margin: 0; letter-spacing: 0.75px;}
a{text-decoration:none; color:#ddd; outline: none;}
a:hover {color: #B21921;}
ul{margin:0;}
img {max-width: 100%; width: auto; height: auto; vertical-align: middle;}
input, input:focus, button, button:focus {outline: none;}
p {margin-bottom: 20px;}
p:last-child {margin-bottom: 0;}
/* End: Common Css */

#container{padding-top: 91px;}
.containerinner{min-height: calc(100vh - 250px); padding: 30px 0;}

